button {
    border: solid 2px #68bad5;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,221,224,1) 36%, rgba(255,255,255,1) 42%, rgba(223,221,224,1) 98%, rgba(88,199,235,1) 100%); 
    padding: 0.25rem 1.25rem 0.375rem 1.25rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
      background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(193,191,194,1) 36%, rgba(220,220,220,1) 42%, rgba(193,191,194,1) 98%, rgba(88,179,208,1) 100%);
    }
  }

  .not-found-container{
    text-align: center;
    padding: 20vh;
    background-color: black;
    color: #bababa;
  }